/* SOME SPECIFIC LAYOUTS */

article, section {display: block;}

.parser { width: 140px; text-align: center}
.parser > * { vertical-align: middle; display: inline; }

.canvas2d:after { content: url(imgs/overlay.png)!important; position: absolute; top: 0; left: 0; pointer-events: none; z-index: 65000; background-color: transparent}
.canvas2d canvas { width: 150px; }

#audiodemo > .demo,
#audiodemo > .demo > canvas { width: 100px; height: 100px; }

#tagsoup .demo p { text-align: left;}
#tagsoup .demo span { font-family: bebas; }
#tagsoup:hover > .demo { top: 30px!important; }

#fontfacedemo {width: 170px; float: right; margin-left: 10px;}
#fontfacedemo * { margin: 0; padding: 0; vertical-align: top;}
#fontfacedemo span {font-size: 18px; letter-spacing: -1px; display: inline-block;}

#radiusdemo { transition-duration: 3s;-moz-transition-duration: 3s;-webkit-transition-duration: 3s;   border: 1px solid transparent;  max-width: 220px; border-top: 1px solid transparent!important; }
#radiusdemo:hover { border: 1px solid black; border-top: 1px solid black!important; border-radius: 35px;}

#gradientdemo:hover {
    background-image:  -moz-radial-gradient(50% 120%, circle, white, rgba(40, 194, 218, 1) 40%, rgba(0, 194, 218, 0) 60%) , url("imgs/texture.png")   !important;
    background-image:  -webkit-radial-gradient(50% 120%, circle, white, rgba(40, 194, 218, 1) 40%, rgba(0, 194, 218, 0) 60%) , url("imgs/texture.png")   !important;
}

#geodemo .demo.showme { top: 40px; }

#orientationdemo .demo {padding: 10px;}

.dnding #dnddemo .demo {top: 100px;}
#dnddemo .demo img {width: 200px;}
#dnddemo .demo {text-align: center; padding: 5px;}

#dragdemo {background-color: #E1E6E9; cursor: pointer;}
#dragdemo .demo {width: 200px;}

#columndemo {width: 245px!important; padding-right: 10px!important;}
#columndemo > p {-moz-column-count: 2; text-align: left!important;}

#boxshadowdemo { box-shadow: inset 0px 0px 0px black; transition-duration: 0.4s; -moz-transition-duration: 0.4s; -webkit-transition-duration: 0.4s;  -webkit-box-shadow: inset 0px 0px 0px black; }
#boxshadowdemo:hover { box-shadow: inset 0px 0px 100px black;  -webkit-box-shadow: inset 0px 0px 100px black; }

#textshadowdemo > div { padding: 10px; }
#textshadowdemo > .demo {background-color: #E1E6E9!important;}
#textshadowdemo > div > p { color: white; font-family: bebas; font-size: 25px; text-shadow: 0px 0px 4px black; }

#transformdemo p { transition-duration: 1.4s;-moz-transition-duration: 1.4s;-webkit-transition-duration: 1.4s;   }
#transformdemo:hover p { -moz-transform: rotate(900deg) scale(-1, -1); -webkit-transform: rotate(900deg) scale(-1, -1);}

#transitiondemo { background-color: transparent!important;
    border-width: 0!important;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    font-family: ubuntu;
    font-size: 60px;
    display: block;
    text-align: center;
    margin: auto;
    text-shadow: 0px 0px 5px black;
    color: rgba(0, 0, 0, 0);
    margin-top: 20px;
    -webkit-transition-duration: 1s!important;
    -moz-transition-duration: 6s!important;
    -moz-transition-timing-function: cubic-bezier(0.05, 1.6, 0.25, 1);
 }
#transitiondemo:hover { -webkit-transform: scale(3) rotate(360deg);  -moz-transform: scale(3) rotate(360deg); text-shadow: 0px 0px 3px #28C2DA; }

#formdemo input { display: inline; width: 70px; border: none; font-size: 12px; box-shadow: 0px 0px 5px #28C2DA; }
#formdemo button { box-shadow: 0px 0px 5px #28C2DA; background-color: white; color: #28C2DA; border: none; font-weight: bold; float: right; }
#formdemo em { display: block; margin-top: 20px; vertical-align: middle; }
#formdemo input:last-of-type { width: 90px;}
#formdemo .demo { padding: 3px; width: 160px; font-size: 12px;}
#formdemo:not(.submited) .demo > p {display: none;}
#formdemo:not(.submited) .demo > form {display: inline;}
#formdemo.submited .demo > p {display: block;}
#formdemo.submited .demo > form {display: none;}

#multiplatform img {width: 150px; display: block; margin-top: 80px;}

.nogl #webgldemo .demo {display: none;}
#webgldemo canvas { transition-duration: 1s; -webkit-transition-duration: 1s;   -moz-transition-duration: 1s; width: 150px; height: 100px; transition-delay: 1s; -webkit-transition-delay: 1s; -moz-transition-delay: 1s; z-index: 10000;}
#webgldemo canvas:hover { transform: scale(2); -webkit-transform: scale(2); -moz-transform: scale(2);}

#borderimagedemo {transition: none;-webkit-transition: none;-moz-transition: none;}
#borderimagedemo:hover { -webkit-border-image: url(imgs/tv-border.jpg) 25 31 37 31 stretch stretch; -moz-border-image: url(imgs/tv-border.jpg) 25 31 37 31 stretch stretch; border-width: 20px!important; background-color: white!important; color: white; padding: 10px!important; max-height: 210px; }
#borderimagedemo:hover p {margin-top: 40px;}
#borderimagedemo:hover h1 {top: 20px;}

#mozelementdemo {
    background-image: -moz-element(#overview);
    background-size: 100% 30%;
    background-repeat: no-repeat;
    background-position: 0 170px;
}

#ffsdemo:hover .demo {top: 30px!important;}
#ffsdemo .demo { font-family: megalopolis;  font-size: 15px; text-align: center;}
.dlig { -moz-font-feature-settings: "dlig=1"; }
.dlig-ss01 { -moz-font-feature-settings: "dlig=1,ss01=1"; }
.dlig-ss02 { -moz-font-feature-settings: "dlig=1,ss02=1,case=1"; }
.ss04 { -moz-font-feature-settings: "ss04=1"; }
.ss05 { -moz-font-feature-settings: "ss05=1"; }
.ss06 { -moz-font-feature-settings: "ss06=1"; letter-spacing: -1px; }
.salt { -moz-font-feature-settings: "salt=1"; }

/*
 * Project: circular player
 * http://www.jplayer.org
 * Copyright (c) 2011 Happyworm Ltd
 * Author: Silvia Benvenuti
 * Date: 18th January 2011
 * Arwork inspired by: http://forrst.com/posts/Untitled-CJz
 */
.player :focus { border:none; outline:0; } 
#jquery_jplayer_1 { width: 0; height: 0; }
.player { width: 200px; height: 200px; background: url("imgs/bgr.jpg") 0 0 no-repeat; margin: 0 auto; padding: 48px; } 
#audioplayerdemo > .demo { height: 200px;}
#audioplayerdemo:hover > .demo { top: 30px;}
#jp_interface_1 { width: 100px; height: 100px; overflow: hidden; }
.progress { position: absolute; top: 0; left: 0; width: 104px; height: 104px; background: url("imgs/progress.png") 0 0 no-repeat; clip:rect(0px,52px,104px,0px); -moz-border-radius:52px; -webkit-border-radius:52px; border-radius:52px; -moz-transform:rotate(0); -webkit-transform:rotate(0); -o-transform:rotate(0); transform:rotate(0); /*  NO CSS3 FALLBACK (12 steps starting from 1hr filled progress, DEcrease second value by 104px for 	next step) background: url("graphics/progress_sprite.jpg") 0 0 no-repeat; */ }
/* this is needed when progress is greater than 50% */ .progress.fill { -moz-transform:rotate(0deg); -webkit-transform:rotate(0deg); transform:rotate(0deg); -o-transform:rotate(0deg); }
.hold, .click-control { position:absolute; width:104px; height:104px; } 
.click-control:hover { cursor:pointer; }
.hold { clip:rect(0px,104px,104px,52px); }
/* this is needed when progress is greater than 50% */ .hold.gt50 { clip:rect(auto, auto, auto, auto); }  
.jp-controls { margin:26px; padding: 0; }
.jp-controls li{ list-style-type:none; display: block; }
.jp-controls li a{ position: relative; display: block; width:50px; height:50px; text-indent:-9999px; z-index:1; }
.jp-controls .jp-play { background: url("imgs/controls.jpg") 0 0 no-repeat; } 
.jp-controls .jp-play:hover { background: url("imgs/controls.jpg") -50px 0 no-repeat; cursor:pointer; }
.jp-controls .jp-pause { background: url("imgs/controls.jpg") 0 -50px no-repeat; } 
.jp-controls .jp-pause:hover { background: url("imgs/controls.jpg") -50px -50px no-repeat; }





